/*immagine di sfondo dell'intestazione*/
header{
    background-color: aqua;
    background-image: url(../img/pattern.png);
    height: 180px;
}
/*Titolo e Autore dell'articolo*/
h1{
    margin-bottom: 0px;
}
address{
    font-style: normal;
}
.autore{
    color: rgb(10, 163, 235);
    margin-left: 0px;
}
.data-pubblicazione{
    font-size: 15px;
    font-style: normal;